.ui-progress-container {
    width: 100%;

    .progress-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        font-size: 0.85rem;
        font-weight: 700;
        color: var(--text-muted);

        .percent-text {
            color: var(--text-main);
        }
    }

    .progress-track {
        width: 100%;
        background: var(--input-bg);
        border-radius: 100px;
        overflow: hidden;
        position: relative;

        .progress-fill {
            height: 100%;
            border-radius: 100px;
            transition: width 1s cubic-bezier(0.16, 1, 0.3, 1);
        }
    }
}